@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

#app {
    font-family: 'Roboto', sans-serif;
}